body {
  margin-top: 130px;
  background-color: white;
}

.container {
  max-width: 2000px;
}

.row {
  padding-top: 40px;
  padding-bottom: 40px;
}

.float-end img {
  width: 600px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#img-one {
  width: 800px;
}

.row .card img {
  width: auto;
  height: auto;
  display: block;
}

.row img {
  width: 600px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.end {
  margin-bottom: 30px;
}

.img-one {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 800px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

iframe {
  height: 500px;
  width: 500px;
}

.sp {
  padding: 1.25rem 1.875rem 4.375rem;
  column-count: 2;
  column-gap: 1.25rem;
  text-align: left;
}

.sp p {
  margin: 0 0 1.25rem 1.25rem;
}

.specs {
  text-align: center;
  position: relative;
  margin: 1.25rem auto;
  max-width: 40.25rem;
  overflow: hidden;
  height: auto;
  background-color: rgb(241, 247, 247);
  color: rgb(0, 0, 0);
  border: thick solid black;
}

.specs {
  font-family: Georgia, Times, Serif;
  font-size: 0.875rem;
  line-height: 1.6;
  padding: 1.25rem 1.875rem 1.875rem;
  text-align: center;
}


.r8 {
  text-align: center;
  border: thick solid #333;
  background-color: rgb(241, 247, 247);
  max-width: 60rem;
  position: relative;
  margin: 1.25rem auto;
  overflow: hidden;
  height: auto;
}

.img-fluid.card-img-top img {
  border: thick solid #333;
  width: fit-content;
  margin: 0, 0, 0, 0;
}

#nav-img {
  width: 130px;
  height: 50px;
}

nav {
  height: 4em;
  background-color: white;
}

.index-r8 {
  position: relative;
  width: auto;
  height: auto;
}

.r8-1 {
  color: black;
  display: block;
  font-family: Georgia, Times, Serif;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  text-decoration: none;
}

.h1 {
  font-family: Georgia, Times, Serif;
  text-align: center;
}

.h1 h1 {
  font-size: 50px;
  padding-left: 15%;
  padding-right: 15%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: rgb(255, 187, 61);
  text-decoration-thickness: 2px;
}

.h1 p {
  font-size: 22px;
  padding-top: 20px;
  padding-left: 20%;
  padding-right: 20%;
}

.index-div .h1 {
  margin-left: 50px;
  margin-right: 50px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: rgb(255, 187, 61);
  text-decoration-thickness: 2px;
}

.main-h2 {
  font-family: Georgia, Times, Serif;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: rgb(255, 187, 61);
  text-decoration-thickness: 2px;
}

.liniq1 {
  border-bottom-style: solid;
  border-bottom-color: orange;
  border-bottom-width: 2px;
  margin-bottom: 35px;
  margin-left: 20%;
  margin-right: 20%;
}

.favicon {
  width: auto;
  height: auto;
}

.float-end {
  margin-top: 30px;
}

img {
  width: 500px;
  height: auto;
}

.index-r8 {
  width: auto;
  height: auto;
}

.footer-index {
  background: linear-gradient(to top, rgba(0, 3, 3, 0.8), rgba(0, 3, 3, 0.2)), url(snimki/tracks.jpeg) no-repeat top center;
  text-align: center;
  padding: 3px;
  color: white;
}

.footer-index a {
  padding: 15px;
  color: orange;
}