
.rs7-sp {
  padding: 1.25rem 1.875rem 4.375rem;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 1.25rem;
  column-gap: 1.25rem;
  text-align: left;
}
.rs7-sp p {
  margin: 0 0 1.25rem 1.25rem;
}
.rs7-specs {
	text-align: center;
  position: relative;
  margin: 1.25rem auto;
  max-width: 40.25rem;
  overflow: hidden;
  height: auto;
  background-color: rgb(241, 247, 247);
  color: rgb(0, 0, 0);
  border: thick solid black;
}

.rs7-specs{
  font-family: Georgia,Times,Serif;
  font-size: 0.875rem;
  line-height: 1.6;
  padding: 1.25rem 1.875rem 1.875rem;
  text-align: center;
}

